<h1>Hello, {{.Name}}</h1>
<p>Bio: {{.Bio}}</p>

<script>
const user = {
    "name": {{.Name}}
    "bio": {{.Bio}}
    "age": {{.Age}}
}
console.log(user);

{{if .Name}} "Ban Jon" {{else}} "Allow User" {{end}}
    
</script>